# Arquivos de compilação Java
*.class

# Arquivos JAR
*.jar

# Arquivos de dependências Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
out/
.idea/

# Eclipse
.classpath
.project
.settings/

# Arquivos gerados pelo JavaFX
bin/
build/
dist/
nbbuild/
nbdeploy/
nbdist/
nbproject/private/
